body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
}

.half-width {
<<<<<<< HEAD

    width: 50%;
    padding-left: 12%;
}

.half-width image {
    width: 30%;
    padding-left: 25%;
=======
    width: 50%;
    padding-left: 5%;
}

.half-width image {
    width: 80%;
    padding-left: 15%;
>>>>>>> 99ef9ccd5f6d12663bfd160696fe68db98c554a1
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
<<<<<<< HEAD
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
=======
>>>>>>> 99ef9ccd5f6d12663bfd160696fe68db98c554a1
}